
<button class="btn btn-primary btn-lg mt-5 ml-5" [routerLink]="['/create']" routerLinkActive="router-link-active"  (click)="registerToggle()">Create a Person</button>

<div *ngIf="createMode" class="container">
  <div class="row justify-content-center">
  <div class="col-4">
      <app-person-create (cancelCreate)="cancelCreateMode($event)"></app-person-create>
  </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  
  <ng-container matColumnDef="egn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> EGN </th>
    <td mat-cell *matCellDef="let element"> {{element.egn}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
    <td mat-cell *matCellDef="let element"> {{element.height}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
