<div class="container">
  <h2 class="text-center text-primary">Create Person</h2>
  <form name="createForm" (ngSubmit) ="f.form.valid && create()" #f="ngForm" novalidate class="d-flex">
    <div class="left">
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
          <div *ngIf="f.submitted && firstName?.invalid" class="invalid-feedback">
            <div *ngIf="firstName?.errors.required">First Name is required</div>
          </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
        <div *ngIf="f.submitted && lastName?.invalid" class="invalid-feedback">
          <div *ngIf="lastName?.errors.required">Last Name is required</div>
      </div>
      </div>

      <div class="form-group">
        <label for="egn">EGN</label>
        <input pattern="\d{10}" type="text" class="form-control" name="egn" [(ngModel)]="model.egn" #egn="ngModel" [ngClass]="{ 'is-invalid': f.submitted && egn.invalid }" required />
        <div *ngIf="f.submitted && egn?.invalid" class="invalid-feedback">
          <div *ngIf="egn?.errors.required">EGN is required</div>
          <div *ngIf="egn?.errors.pattern">EGN must contains exactly 10 digits </div>
      </div>
      </div>

      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" name="weight" [(ngModel)]="model.weight" #weight="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weight.invalid }" required appTwoDigitDecimaNumber/>
        <div *ngIf="f.submitted && weight?.invalid" class="invalid-feedback">
          <div *ngIf="weight?.errors.required">Weight is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="height">Height</label>
        <input type="text" class="form-control" name="height" [(ngModel)]="model.height" #height="ngModel" [ngClass]="{ 'is-invalid': f.submitted && height.invalid }" required appTwoDigitDecimaNumber/>
        <div *ngIf="f.submitted && height?.invalid" class="invalid-feedback">
          <div *ngIf="height?.errors.required">Height is required</div>
        </div>
      </div>
    </div>

      <div class="right form-group ml-4">
        <p>Countries Visited</p>
        <div [formGroup]="myForm">
          <div *ngFor="let country of countries">
            <input type="checkbox" (change)="onChange(country, $event.target.checked)">
            {{country.countryName}}<br>
          </div>
        </div>

          <div class="form-group text-center">
              <button  class="btn btn-success mr-2" type="submit">Create</button>
              <button  class="btn btn-default" type="button" [mat-dialog-close]="1">Cancel</button>
            </div>
      </div>
    </form>
</div>
