<div class="container">
  <h2 class="text-center text-primary">Create Person</h2>
  <form name="createForm" (ngSubmit) ="f.form.valid && create()" #f="ngForm" novalidate >
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
          <div *ngIf="f.submitted && firstName?.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors.required">First Name is required</div>
          </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
        <div *ngIf="f.submitted && lastName?.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
      </div>
      </div>

      <div class="form-group">
        <label for="egn">EGN</label>
        <input type="text" class="form-control" name="egn" [(ngModel)]="model.egn" #egn="ngModel" [ngClass]="{ 'is-invalid': f.submitted && egn.invalid }" required minlength="10" maxlength ="10"/>
        <div *ngIf="f.submitted && egn?.invalid" class="invalid-feedback">
          <div *ngIf="egn.errors.required">EGN is required</div>
          <div *ngIf="egn.errors.minlength">EGN lenght must be exactly 10 symbols</div>
      </div>
      </div>

      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" name="weight" [(ngModel)]="model.weight" #weight="ngModel" [ngClass]="{ 'is-invalid': f.submitted && weight.invalid }" required appTwoDigitDecimaNumber/>
        <div *ngIf="f.submitted && weight?.invalid" class="invalid-feedback">
          <div *ngIf="weight.errors.required">Weight is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="height">Height</label>
        <input type="text" class="form-control" name="height" [(ngModel)]="model.height" #height="ngModel" [ngClass]="{ 'is-invalid': f.submitted && height.invalid }" required appTwoDigitDecimaNumber/>
        <div *ngIf="f.submitted && height?.invalid" class="invalid-feedback">
          <div *ngIf="height.errors.required">Height is required</div>
        </div>
      </div>

      <div class="form-group text-center">
        <button  class="btn btn-success mr-2" type="submit">Create</button>
        <button  class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
      </div>

  </form>
</div>



<!-- <form #createForm="ngForm" (ngSubmit)="create()">
  <h2 class="text-center text-primary">Create Person</h2>

  <div class="form-group">
    <input type="text" class="form-control" required name="firstName" id='firstName'
    [(ngModel)]="model.firstName" placeholder="First Name">
  </div>
  
  
  <div class="form-group">
    <input type="text" class="form-control" required name="lastName" 
    [(ngModel)]="model.lastName" placeholder="Last Name">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="egn" 
    [(ngModel)]="model.egn" maxlength="10" minlength="10" placeholder="EGN">
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" required name="weight" 
    [(ngModel)]="model.weight" placeholder="Weight in kilos">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="height" 
    [(ngModel)]="model.height"  placeholder="Height in meters">
  </div>

  <div class="form-group text-center">
    <button  class="btn btn-success mr-2" type="submit">Create</button>
    <button  class="btn btn-default" type="button" (click)="cancel()"  >Cancel</button>
  </div>

</form> -->
